{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Draw Topology{% endblock %}</h1>
{% endblock %}

{% block nav %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/editar/">Criar</a></li>
    <li><a class="active" href="/desenhar/">Desenhar</a></li>
    <li><a href="/remove/">Remover</a></li>
</ul>
{% endblock %}

{% block content %}
<style>
    #edit {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    #edit>button {
        margin: 5px;
    }
</style>
<script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/svg-export.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfkit.standalone.js') }}"></script>
<script src="{{ url_for('static', filename='js/blob-stream@0.1.3') }}"></script>
<script src="{{ url_for('static', filename='js/source.js') }}"></script>

<div id="edit">
    <button class="edit-buttons" onclick="location.href='/editar/?file_name={{ file }}'">Editar</button>
    <h4>{{ file.strip(".json").replace("_", " ") }}</h4>
    <button class="edit-buttons" onclick="export_pdf()">Salvar PDF</button>
</div>
<div id="chart">
    <svg>
    </svg>
</div>

<script>
    var margin = {
            top: 20,
            right: 90,
            bottom: 30,
            left: 90
        },
        width = 1920 - margin.left - margin.right,
        height = 900 - margin.top - margin.bottom,
        list_vlans = []

    var svg = d3.select("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", `translate(${margin.left}, ${margin.top})`)

    var defs = svg.append("defs")

    var root

    var tree = d3.tree()
        .size([height, width])

    d3.json("/static/arquivos_json/{{file}}").then(data => {

        root = d3.hierarchy(data, d => d.children)

        root.x0 = height / 2
        root.y0 = 0

        var div_tooltip = d3.select("div.toolTip")

        update(root)


    })

    update = (source) => {
        var treeData = tree(root)

        var nodes = treeData.descendants(),
            links = treeData.descendants().slice(1),
            i = 0,
            duration = 250

        recusiveCount(source.data, list_vlans)

        list_vlans = [...new Set(list_vlans)]

        var colors = d3.scaleLinear()
            .range(d3['schemeDark2'])
            .domain(list_vlans)



        nodes.forEach(el => el.depth == 1 ? el.y = 180 : el.y = el.depth * 180)

        var node = svg.selectAll("g.node")
            .data(nodes, d => d.id || (d.id = ++i))

        var nodeEnter = node.enter()
            .append("g")
            .classed("node", true)
            .attr("transform", d => `translate(${source.y0}, ${source.x0})`)
            .on("click", click)

        nodeEnter.append("circle")
            .classed("node", true)
            .style("color", "blue")
            .style("stroke", "steelblue")
            .style("stroke-width", "1.5px")
            .style("fill", "lightsteelblue")
            .attr("r", 8)

        nodeEnter.append("text")
            .attr("id", "namelocation")
            .attr("style",
                "font: 11px sans-serif; fill: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;"
            )
            .attr("x", 12)
            .attr("dy", "-0.5em")
            .attr("text-anchor", "start")
            .text(d => {
                if (d.data.Name && d.data.Location) return `${d.data.Name} - ${d.data.Location}`
                if (d.data.Name) return d.data.Name
                if (d.data.Location) return d.data.Location
                return ""
            })

        nodeEnter.append("text")
            .attr("id", "ipaddres")
            .attr("style",
                "font: 11px sans-serif; fill: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;"
            )
            .attr("x", 12)
            .attr("y", 18)
            .attr("dy", "-0.5em")
            .attr("text-anchor", "start")
            .text(d => `${d.data.ipaddress ? d.data.ipaddress : ' '}`)

        nodeEnter.append("text")
            .attr("id", "uplink-text")
            .attr("style",
                "font: 11px sans-serif; fill: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;"
            )
            .attr("x", -24)
            .attr("dy", ".25em")
            .attr("text-anchor", "start")
            .text(d => `${d.data.uplink ? d.data.uplink : " "}`)

        // Update Nodes

        var nodeUpdate = nodeEnter.merge(node)

        nodeUpdate.transition()
            .duration(duration)
            .attr("transform", d => `translate(${d.y}, ${d.x})`);

        //Atualiza os atributos e estilos do nó

        nodeUpdate.select('circle.node')
            .attr('r', 8)
            .attr('cursor', 'pointer');


        nodeUpdate.select('text#namelocation')
            .text(d => {
                if (d.data.Name && d.data.Location) return `${d.data.Name} - ${d.data.Location}`
                if (d.data.Name) return d.data.Name
                if (d.data.Location) return d.data.Location
                return ""
            })


        nodeUpdate.select('text#ipaddres')
            .text(d => `${d.data.ipaddress ? d.data.ipaddress : ' '}`)

        nodeUpdate.select('text#uplink-text')
            .text(d => `${d.data.uplink ? d.data.uplink : " "}`)

        //Exclui os nós removidos

        var nodeExit = node.exit()
            .transition()
            .duration(duration)
            .attr('transform', d => `translate(${source.y}, ${source.x})`)
            .remove();

        //Reduz o tamanho do nó para 0 antes de remover

        nodeExit.select('circle')
            .attr('r', 0);


        // # ============= Links ============= #

        var link = svg.selectAll('path.link')
            .data(links, d => d.id)

        var linkEnter = link.enter()
            .insert('path', 'g')
            .attr('class', 'link')
            .attr('d', d => {
                var o = {
                    x: source.x0,
                    y: source.y0
                }
                return diagonal(o, o)
            })
            .attr("style", "fill: none; stroke-width: 3px;")
            .attr("stroke", d => {
                if (!d.data.vlans) return "#14aecc"
                var node_vlans = d.data.vlans
                if (node_vlans.length == 1) return colors(node_vlans[0])
                return colors(node_vlans[1])
            })

        var linkUpdate = linkEnter.merge(link);

        linkUpdate
            .transition()
            .duration(duration)
            .attr('d', function (d) {
                return diagonal(d, d.parent)
            })

        style_link(linkUpdate, colors)


        var linkExit = link.exit()
            .transition()
            .duration(duration)
            .attr('d', function (d) {
                // style_link(linkUpdate)
                var o = {
                    x: source.x,
                    y: source.y
                }
                return diagonal(o, o)
            })
            .remove();


        nodes.forEach(d => {
            d.x0 = d.x;
            d.y0 = d.y;
        })
        var data_legend = makeDataLegend(list_vlans, colors)

        elementLegends("Vlans", data_legend, 5, 15, "bottom")
    }

    click = (event, d) => {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update(d);
    }

    diagonal = (s, d) => {

        // O css não conseque aplicar gradiente em paths que não possuem curvaturas.
        // Para solucionar esse problema o if checa se o path é uma linha reta, caso seja
        // É aplicado uma level curvatura no inicio e final do path para enganar o css e aplicar o gradiente. 

        if (`${(s.y + d.y) / 2} ${s.x}` == `${(s.y + d.y) / 2} ${d.x}`) {
            path = `M ${s.y} ${s.x}
            C ${(s.y + d.y) / 2} ${s.x - 0.0011},
                ${(s.y + d.y) / 2} ${d.x + 0.0011},
                ${d.y} ${d.x}`
        } else {
            path = `M ${s.y} ${s.x}
            C ${(s.y + d.y) / 2} ${s.x},
                ${(s.y + d.y) / 2} ${d.x},
                ${d.y} ${d.x}`
        }
        return path
    }

    parseVlans = (value) => {
        var parsed = value.split(",").map(value => parseInt(value.trim()))
        return parsed
    }

    recusiveCount = (data, list_vlans) => {
        if (data.vlans) {
            data.vlans.forEach(vlan => list_vlans.push(vlan))
        }
        if (data.children) {
            data.children.forEach(el => recusiveCount(el, list_vlans))
        }
    }

    export_pdf = () => {
        var svg_node = document.querySelector("#chart>svg")
        downloadPDF(svg_node, "{{file}}".replace(".json", ""))

    }

    downloadPDF = (svg, outFileName) => {
        let width = parseFloat(svg.getAttribute("width")),
            height = parseFloat(svg.getAttribute("height"))

        var svg_html = svg.outerHTML
        let doc = new PDFDocument({
            compress: false,
            size: [d3.max([width, 841.89]), d3.max([height, 595.28])],
        });

        SVGtoPDF(doc, svg_html, 0, 0, {
            preserveAspectRatio: "xMinYMin meet",
            height: height,
            width: width,
        });

        let stream = doc.pipe(blobStream());
        stream.on('finish', () => {
            let blob = stream.toBlob('application/pdf');
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = outFileName + ".pdf";
            link.click();
        });

        doc.end();
    }

    style_link = (linkUpdate, colors) => {
        defs.remove()
        defs = svg.append('defs')
        linkUpdate.style('stroke', (d, i) => {
            if (!d.data.vlans) return "#14aecc"
            if (d.data.vlans.length == 1) return colors(d.data.vlans[0])

            colorsmake = makeColors(d.data.vlans, colors)
            var offset = makeOffset(colorsmake)
            const gradientID = `gradient${i}`

            const linearGradient = defs.append("linearGradient")
                .attr("id", gradientID)

            linearGradient.selectAll("stop")
                .data(offset)
                .enter()
                .append("stop")
                .attr("offset", d => d.offset)
                .attr("stop-color", d => d.color)

            return `url(#${gradientID})`
        })
    }

    makeColors = (vlans, colors) => {
        var colors_result = []
        vlans.forEach(c => {
            colors_result.push(colors(c))
        })
        return colors_result
    }

    makeOffset = (list_colors) => {
        result = []
        x = list_colors.length * 3
        y = 0
        for (var j = 0; j < 3; j++) {
            for (var i = 0; i < list_colors.length; i++) {
                result.push({
                    offset: ((100 / x) * y).toFixed(2) + "%",
                    color: list_colors[i]
                })
                y++
            }
        }
        return result
    }

    makeDataLegend = (vlans, colors) => {
        var result = []
        vlans.forEach(d => {
            result.push({
                color: colors(d),
                name: d
            })
        })
        return result
    }

    elementLegends = (legend_title, array_data, spacing, margin, position) => {
        var height = d3.select("#chart>svg").node().getBoundingClientRect().height
        d3.select("svg>g#legend").remove()

        var container = d3.select("svg")
            .append("g")
            .attr("id", "legend")


        var g_nodes = []

        var title = container.append("g")


        title.append("text")
            .text(legend_title)
            .attr("font-size", "30px")
            .attr("font-weight", 300)
            .attr("alignment-baseline", "middle")

        g_nodes.push(title)

        for (var string of array_data) {
            var g = container.append("g")
            if (string.svgicon) {
                var icon = g.append("g")
                    .attr("width", "18px")
                    .attr("height", "18px")
                    .attr("id", "warning")
                    .append('path')
                    .attr("fill", string.color)
                    .attr("d", string.svgicon)
            } else {
                var rect = g.append("rect")
                    .attr("fill", string.color)
                    .attr("width", 18)
                    .attr("height", 18)
            }

            var text = g.append("text")
                .text(string.name)
                .attr("alignment-baseline", "middle")
                .attr("text-anchor", "start")
                .attr("font-size", "14px")
                .attr("x", 45)
                .style("transform", "translateY(10px)")

            g_nodes.push(g)
        }



        var dimensions = {
            width: container.node().getBoundingClientRect().width
        }


        for (var i = 1; i < g_nodes.length; i++) {
            g_nodes[i].attr("transform",
                `translate(${-(dimensions.width / 2)}, ${g_nodes.slice(0, i).reduce((part, el) => part + el.node().getBoundingClientRect().height, 0) + (i * spacing)})`
            )
        }

        dimensions.height = container.node().getBoundingClientRect().height
        dimensions.width = container.node().getBoundingClientRect().width

        g_nodes[0].attr("transform", `translate(${- title.node().getBoundingClientRect().width /2}, 0)`)

        container.append("rect")
            .attr("x", -((dimensions.width / 2) + margin))
            .attr("y", -(margin + 10))
            .attr("width", dimensions.width + (2 * margin))
            .attr("height", dimensions.height + margin)
            .style("fill", "none")
            .style("stroke-width", "2px")
            .style("stroke", "black")


        if (position == "bottom") {
            container.attr("transform",
                `translate(${(dimensions.width / 2) + margin + 10}, ${height - (dimensions.height)})`)
        } else {
            container.attr("transform", `translate(${(dimensions.width / 2) + margin + 10}, ${2 * margin})`)
        }


        return dimensions
    }
</script>

{% endblock %}